.thumbnail {
    height: 200px;
    width: 200px; 
    margin: 6px;
}

.first{
    float: left;
    width: 200px;
    height: 200px;
}

@media only screen and (max-width:750px) {
    .description {
        padding:0;
    }
}
.picture {
    height: 100px;
    width: 100px;
}
.another {
    margin-top: 100px;
} 
.another1 { 
    margin-top: 50px;
    font-size: 20px;
}

.size {
    height: 600px;
    width: 600px;
 
}
.stuff {
    margin-top: 50px;
    font-size: 15px;
}
.something {
    margin-top: 100px;
}
.first1 {
    height: 300px;
    width: 300px;
}
.anothersomething {
    margin-left: -30px;
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
  .first2 {
      height: auto;
      width: 50px;
  }
.img-main {
    max-width: 330px;
    margin: 6px;
}
.img-comp {
    max-width: 280px;
    margin: 6px;
}
.cloudinessStuff {
    font-size: 15px;
}