.thumbnail {
    height: 200px;
    width: 200px; 
}

.first{
    float: left;
    width: 200px;
    height: 200px;
}

@media only screen and (max-width:750px) {
    .description {
        padding:0;
    }
}
.picture {
    height: 100px;
    width: 100px;
}
.another {
    margin-top: 100px;
} */
.another1 { 
    margin-top: 200px;
    font-size: 20px;
}

.size {
    height: 600px;
    width: 600px;
 
}
.stuff {
    margin-top: 50px;
    font-size: 15px;
}